h1{
    color: black;
    font-weight: bold;
    font-size: 60px; 
    font-family: "Monospace", 'Courier New', Courier, monospace, serif;
    text-align: center;

}

h2{
    display: flex;
    justify-content: center;
    color: black;
    font-weight: bold;
    font-size: 30px; 
    font-family: "Monospace", 'Courier New', Courier, monospace, serif;
}

h3{
    color: black;
    font-weight: bold;
    font-size: 20px; 
    font-family: "Monospace", 'Courier New', Courier, monospace, serif;
}

p{
    
}